.button {
    width:120px;
    border-radius:5px;
    background-color:purple;
    }
    .submit{
        color: white;
    background-color:green;
    }
    .reset{
        color: white;
    background-color:red;
    }
    .update{
    background-color:blue;
    }
    .delete{
    background-color: yellow;
    }

    label{
    color:gray;
    font-size: 20px;
    }

.header{
font-family: 'Courier New', Courier, monospace;
color: rgb(33, 27, 19);
}
.big{
    font-size: 80px;
}
.small{
    font-size: 40px;
}
.red{
    color: red;
}
.yellow
{
    color: yellow;
}

div.sticky {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #a7a9e6;
    border: 2px solid #4CAF50;
  }